{% extends "base-layout.html" %}

{% block title %}
Assignments for {{course.name}}
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Assignment Group</th>
          <th>Problem</th>
          <th>Due Date</th>
          <th>Maximum Points</th>
          <th>Status</th>
          <th>Submit</th>
        </tr>
      </thead>
      <tbody>
        {% for a in course.assignments %}
        <tr>
          <td rowspan="{{a.problems|length + 1}}">{{a.name}}</td>
        </tr>
        {% for p in a.problems|sort(attribute="name") %}
        <tr>
          <td>{{p.name}}</td>
          <td {% if p.duedate != None %}class="time">{{p.duedate.isoformat()}}{% else %}>None Set{%endif%}</td>
          <td>{{p.totalPoints()}}</td>
          {% if p.getSubmissionNumber(g.user) == 0 %}
          <td>Unsubmitted</td>
          {% else %}
          {% with c,text = p.getLatestSubmission(g.user).getStatus() %}
          <td class="{{c}}">
          {{text}} <a href="{{url_for('viewProblem', pid=p.id, subnum=p.getSubmissionNumber(g.user))}}" class="btn btn-primary btn-xs pull-right">View</a>
          </td>
          {% endwith %}
          {% endif %}
          <td>
            <a href="{{url_for('submitAssignment', pid=p.id)}}" class="btn btn-primary btn-xs">Submit</a>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})
</script>
{% endblock %}
