{% extends "base-layout.html" %}

{% block title %}
Review files for {{course.name}}/{{assignment.name}}/{{problem.name}}
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='google-code-prettify/prettify.css')}}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>View Files</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Filename</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% if problem.getFiles(user, subnum)|length != 0 %}
        {% for f in problem.getFiles(user, subnum) %}
        <tr>
          <td>{{f}}</td>
          <td><button class="btn btn-primary btn-xs" onclick="preview('{{f}}');">View</button></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="2">No Files</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" id="previewArea" style="text-align:center">
    <p>Select a file to view a preview</p>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='google-code-prettify/prettify.js')}}"></script>
<script>
function preview(filename) {
  $("#previewArea").empty();
  $("#previewArea").append("<h1>"+filename+"</h1>");
  data = {}
  data.filename = filename
  $.ajax({
    url:"{{url_for('studentGetFiles', pid=problem.id, uid=user.id, subnum=subnum)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(data),
    dataType: 'json',
    success: function(data) {
      console.log(data);
      if (data.majorType == 'text') {
        $("#previewArea").append("<pre style='text-align:left'id='previewText' class='prettyprint'></pre>");
        $("#previewText").text(data.content);
        prettyPrint()
      } else if (data.majorType == 'image') {
        console.log(data)
        $("#previewArea").append("<img style='max_width:100%' src='"+data.url+"'></img>");
      } else if (data.majorType == 'application' && data.minorType == 'pdf') {
        $("#previewArea").append("<object data='"+data.url+"' type='application/pdf' width='100%' height='800px'>\
        <p>It appears your browser doesn't have a built in PDF viewer</p>\
        </object>");
      } else {
        $("#previewArea").append("<span class='mega-octicon octicon-file-binary'></span><br><b>Cannot preview this file</b>");
      }
    }
  })
}
</script>
{% endblock %}
