{% extends "base-layout.html" %}

{% block title %}
Gradebook
{% endblock %}

{% block styles %}
{{super()}}
<style>
th a {
  display:block;
  width:100%;
  color:black;
}

td a {
  display:block;
  width:100%;
  color:black;
}
</style>
{% endblock %}

{% block rows %}
{% for c in g.user.courseStudent %}
<div class="row">
  <div class="col-sm-12">
    <h2>{{c.semester}}/{{c.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-12">
    <table class="table table-responsive table-bordered" id="{{c.id}}">
      <thead>
        <tr> <!-- This row is for the gradebook groups -->
          {% for a in c.gradeBook.groups() %}
          <th colspan="{{a.getWidth()}}">{{a.name}}</th>
          {% endfor %}
          <th rowspan="2">Total</th>
        </tr>
        <tr> <!-- This row is for the gradebook columns -->
          {% for c in c.gradeBook.columns() %}
          {% if c == None %}
          <th>None</th>
          {% else %}
          <th>{{c.name}}</th>
          {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Total Points</th>
          {% for a in c.gradeBook.columns() %}
          {% if a == None %}
          <th>None</th>
          {% else %}
          <th>{{a.maxScore}}</th>
          {% endif %}
          {% endfor %}
          <th>{{c.gradeBook.totalPoints()}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}

{% block scripts %}
{{super()}}
<script>
$(function() {
  courses = {{courses|tojson}};

  for(var i = 0; i < courses.length; i++) {
    data = {'cid': courses[i]};
    $.ajax({
      url:"{{url_for('studentRenderGrades')}}",
      type:'POST',
      async:true,
      contentType:'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function(data) {
        console.log(data)
        $('#'+data.cid+' tbody').append(data.res);
      }
    });
  }
})
</script>
{% endblock %}
