{% extends "base-layout.html" %}

{% block title %}
Your submission
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='google-code-prettify/prettify.css')}}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3>Submssion for: {{course.name}}/{{assignment.name}}/{{problem.name}}</h3>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h3>Submission Properties</h3>
    <table class="table table-bordered">
      <tr>
        <th>Submission Number</th>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">{{subnum}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {% for i in range(1,problem.getSubmissionNumber(g.user)+1) %}
              <li><a href="{{url_for('viewProblem', pid=problem.id, subnum=i)}}">{{i}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th>Submission Time</th>
        <td class="time">{{submission.submissionTime.isoformat()}}</td>
      </tr>
      <tr>
        <th>Partner</th>
        {% if submission.partner != None %}
        <td>{{submission.partner.username}}</td>
        {% else %}
        <td>None</td>
        {% endif %}
      </tr>
      <tr>
        <th>Submission Status</th>
        {% with c,text = submission.getStatus() %}
        <td class="{{c}}">{% if submission.isLate %}<span style="color:red">[Late] </span>{%endif%}{{text}}</td>
        {% endwith %}
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <h3>Rubric</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Section</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for p in problem.rubric|dictsort %}
        <tr>
          <td>{{p[0]}}</td>
          <td>
            {% if submission.status == 4 %}
            {{submission.grade.scores.setdefault(p[0], '0.0')}}/{{p[1]}}
            {% else %}
            (N/A)/{{p[1]}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default" id="panelcomments">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseComments" href="#collapseComments" class="collapsed">
          Grader Comments
        </a>
      </h4>
    </div>
    <div id="collapseComments" class="panel-collapse collapse in">
      <div class="panel-body">
        {% if submission.status == 4 %}
        {{ submission.comments|markdown}}
        {% else %}
        Grading incomplete
        {% endif %}
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default" id="panelautocomments">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseAutoComments" href="#collapseAutoComments" class="collapsed">
            Autograder Comments
          </a>
        </h4>
      </div>
      <div id="collapseAutoComments" class="panel-collapse collapse in">
        <div class="panel-body">
          {% if submission.status == 4 or problem.releaseAutoComments %}
          {{ submission.autoGraderComments|markdown}}
          {% elif submission.status <= 1 %}
          Autograding incomplete
          {% else %}
          Waiting for grader review
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

{% with user = g.user %}
{% with header="Your Files" %}
{% with filepath=problem.getFilePath(user, subnum) %}
{% with tests = False %}
{% include 'widgets/filetree.html' %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

<hr>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" id="previewArea" style="text-align:center">
    <p>No file selected for preview</p>
  </div>
  <div class="col-sm-2"></div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})
</script>
<script src="{{url_for('static', filename='google-code-prettify/prettify.js')}}"></script>
<script>
function preview(filename) {
  $("#previewArea").empty();
  $("#previewArea").append("<h1>"+filename+"</h1>");
  data = {}
  data.filename = filename
  $.ajax({
    url:"{{url_for('studentGetFiles', pid=problem.id, uid=g.user.id, subnum=subnum)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(data),
    dataType: 'json',
    success: function(data) {
      console.log(data);
      if (data.majorType == 'text') {
        if (data.minorType == 'plain'){
          $("#previewArea").append("<pre style='text-align:left'id='previewText'></pre>");
        } else {
          $("#previewArea").append("<pre style='text-align:left'id='previewText' class='prettyprint'></pre>");
        }
        $("#previewText").text(data.content);
        prettyPrint()
      } else if (data.majorType == 'image') {
        $("#previewArea").append("<img style='max_width:100%' src='"+data.url+"'></img>");
      } else if (data.majorType == 'application' && data.minorType == 'pdf') {
        $("#previewArea").append("<object data='"+data.url+"' type='application/pdf' width='100%' height='800px'>\
        <p>It appears your browser doesn't have a built in PDF viewer</p>\
        </object>");
      } else {
        $("#previewArea").append("<span class='mega-octicon octicon-file-binary'></span><br><b>Cannot preview this file</b>");
      }
      window.location.href="#previewArea";
    }
  })
}
</script>
{% endblock %}
