{% extends "base-layout.html" %}

{% block title %}
Assignments for {{course.name}}
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h3>Submission Properties</h3>
    <table class="table table-bordered">
      <tr>
        <th>Submission Number</th>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">{{subnum}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {% for i in range(1,problem.getSubmissionNumber(g.user)+1) %}
              <li><a href="{{url_for('viewProblem', pid=problem.id, subnum=i)}}">{{i}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th>Submission Time</th>
        <td class="time">{{submission.submissionTime.isoformat()}}</td>
      </tr>
      <tr>
        <th>Submission Status</th>
        {% with c,text = submission.getStatus() %}
        <td class="{{c}}">{{text}}</td>
        {% endwith %}
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <h3>Rubric</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Section</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for p in problem.rubric|dictsort %}
        <tr>
          <td>{{p[0]}}</td>
          <td>
            {% if submission.grade.visible.setdefault(p[0], False) %}
            {{submission.grade.scores.setdefault(p[0], '0.0')}}/{{p[1]}}
            {% else %}
            (N/A)/{{p[1]}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default" id="panelcomments">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseComments" href="#collapseComments" class="collapsed">
          Grader Comments
        </a>
      </h4>
    </div>
    <div id="collapseComments" class="panel-collapse collapse in">
      <div class="panel-body">
        {% if submission.status == 4 %}
        {{ submission.comments|markdown}}
        {% else %}
        Grading incomplete
        {% endif %}
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

{% with user = g.user %}
{% include 'widgets/filebrowser.html' %}
{% endwith %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})
</script>
{% endblock %}
