{% extends "base-layout.html" %}

{% block title %}
Assignments for {{course.name}}
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>{{course.name}}</h1>
    <a href="{{url_for('viewGradebook', cid=course.id, instr=False)}}" class="btn btn-primary"><span class="octicon octicon-book"></span> Grade Book</a>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h2>Assignments</h2>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Assignment Group</th>
          <th>Problem</th>
          <th>Due Date</th>
          <th>Submissions</th>
          <th>Status (TODO - IP - DONE)</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        {% for a in course.assignments[::-1] %}
        <tr>
          <td rowspan="{{a.problems|length + 1}}">{{a.name}}</td>
        </tr>
        {% for p in a.problems|sort(attribute="name") %}
        <tr>
          <td>{{p.name}}</td>
          <td {% if p.duedate != None %}class="time">{{p.duedate.isoformat()}}{% else %}>None Set{%endif%}</td>
          {% with u,ip,d = p.getStatusCount() %}
          <td>{{p.studentSubmissions.keys()|length}}/{{u + ip + d}}</td>
          <td>
            {{u}} - {{ip}} - {{d}}
          </td>
          {% endwith %}
          <td>
            <a href="{{url_for('grutorGradelistProblem', pid=p.id)}}" class="btn btn-primary btn-xs">Grade</a>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})
</script>
{% endblock %}
