{% extends "base-layout.html" %}

{% block title %}
Submissions for grading
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>Submissions for: {{course.name}}/{{assignment.name}}/{{problem.name}}</h1>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th style="text-align:center">Not Graded</th>
          <th style="text-align:center">In Progress</th>
          <th style="text-align:center">Done Grading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% with ungraded, ip, done = problem.getStatusCount() %}
          <td style="text-align:center">{{ungraded}}</td>
          <td style="text-align:center">{{ip}}</td>
          <td style="text-align:center">{{done}}</td>
          {% endwith %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <a href="{{url_for('grutorGradeRandom', pid=problem.id)}}" class="btn btn-primary"><span class="glyphicon glyphicon-random"></span> Random Grade</a>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{% if not course.anonymousGrading %}Username{% else %}User Identifier{% endif %}</th>
          <th>Submission Status</th>
          <th>Is Late</th>
          <th>Submission Time</th>
          <th>Grade Submission</th>
          <th>Graded By</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users|sort(attribute="username") %}
        <tr>
          <td>{% if not course.anonymousGrading %}{{user.username}}{% else %}{{course.getIdentifier(user.username)}}{% endif %}</td>
          {% with sub = problem.getLatestSubmission(user) %}
          {% if sub == None %}
            <td class="active">No Submission</td>
            <td class="active"></td>
            <td>N/A</td>
            <td><a href="{{url_for('grutorMakeBlank', pid=problem.id, uid=user.id)}}" class="btn btn-primary btn-xs">Grade</a></td>
            <td>N/A</td>
          {% else %}
            {% with c,text = sub.getStatus() %}
            <td class="{{c}}">{{text}}</td>
            <td style="text-align:center" class={% if sub.isLate %}"danger"{% else %}"{{c}}" {%endif%}>{% if sub.isLate %}<span class="octicon octicon-check"></span>{%endif%}</td>
            {% endwith %}
            <td class="time">{{sub.submissionTime.isoformat()}}</td>
            <td><a href="{{url_for('grutorGradeSubmission', pid=problem.id, uid=user.id, subnum=problem.getSubmissionNumber(user))}}" class="btn btn-primary btn-xs">Grade</a></td>
            <td>{% if sub.gradedBy == None %}None{%else%}{{sub.gradedBy.username}}{%endif%}</td>
          {% endif %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})
</script>
{% endblock %}
