{% extends "base-layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>Edit {{page.title}}</h1>
    <br>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <label for="studentVisible">Page Title</label>
      <input class="form-control" type="text" id="title" value="{{page.title}}"></input>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h4>Permissions</h4>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <input type="checkbox" id="generalVisible" {% if page.generalView %}checked="checked"{%endif%}></input>
      <label for="generalVisible">Visible to Anyone</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <input type="checkbox" id="studentVisible" {% if page.studentView %}checked="checked"{%endif%}></input>
      <label for="studentVisible">Visible to Student</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <input type="checkbox" id="graderVisible" {% if page.grutorView %}checked="checked"{%endif%}></input>
      <label for="graderVisible">Visible to Grader</label>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <input type="checkbox" id="graderEdit" {% if page.grutorEdit %}checked="checked"{%endif%}></input>
      <label for="graderEdit">Editable by Grader</label>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <button id="previewBtn" type="button" class="btn btn-default">Preview</button>
    <button id="saveBtn" type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Saved</button>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-5">
    <textarea id="commentarea" class="form-control" rows="24">{{page.text}}</textarea>
  </div>
  <div class="col-sm-3">
    <h3>Other pages from course(s)</h3>
    <div class="list-group">
      {% for c in page.courses %}
        <li class="list-group-item list-group-item-info">{{c.semester}}/{{c.name}}</li>
        {% for op in otherPages[c.semester+"/"+c.name] %}
          <a href="{{url_for('viewPage', pgid=op.id)}}" class="list-group-item">&nbsp;&nbsp;&nbsp;{{op.title}}</a>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<!--Here is the preview -->
<hr>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>{{page.title}}</h1>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" id="preview">
    {{page.text|markdown}}
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function unsaved(){
  $("#saveBtn").attr('class', "btn btn-warning")
  $("#saveBtn").html("<span class='glyphicon glyphicon-floppy-save'></span> Save")
}

$("#commentarea").bind('input propertychange', function(){
  unsaved()
});

$("#title").bind('input propertychange', function(){
  unsaved()
});

$("#generalVisible").change(function(){
  unsaved()
});

$("#studentVisible").change(function(){
  unsaved()
});

$("#graderVisible").change(function(){
  unsaved()
  if ($(this).prop("checked")) {
    $("#graderEdit").attr("disabled", false);
  } else {
    $("#graderEdit").attr("disabled", true);
    $("#graderEdit").attr("checked", false);
  }
});

$("#graderEdit").change(function(){
  unsaved()
});

$("#previewBtn").click(function(){
  values = {}
  values["text"] = $("#commentarea").val()
  $.ajax({
    url:"{{url_for('grutorPreview')}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(values),
    dataType: 'json',
    success: function(data) {
      $("#preview").html(data["res"]);
    }
  });
})

function saveComments(){
  values = {}
  values["text"] = $("#commentarea").val()
  values["title"] = $("#title").val()
  values["generalView"] = $("#generalVisible").prop('checked');
  values["studentView"] = $("#studentVisible").prop('checked');
  values["grutorView"] = $("#graderVisible").prop('checked');
  values["grutorEdit"] = $("#graderEdit").prop('checked');
  $.ajax({
    url:"{{url_for('savePage', pgid=page.id)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(values),
    dataType: 'json',
    success: function(data) {
      location.reload()
    }
  });
}

$("#saveBtn").click(function(){
  saveComments();
})
</script>
{% endblock %}
