{% extends "base-layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>Edit {{page.course.name}}/{{page.title}}<a href="{{url_for('viewPage', pgid=page.id)}}" class="btn btn-default" style="float:right;">View</a></h1>
    <br>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <label for="studentVisible">Page Title</label>
      <input class="form-control" type="text" id="title" value="{{page.title}}"></input>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h4>Permissions</h4>
    <p>Mouse over headers for tool tips</p>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th><span title="Anyone on the internet">Anyone</span></th>
          <th><span title="Any user registerd for CS>">Any User</span></th>
          <th><span title="Any student in the course">Course Users</span></th>
          <th><span title="Any grutor in CS> that is not in this course">Any Grutor</span></th>
          <th><span title="Any grutor for the course">Course Grutors</span></th></tr>
      </thead>
      <tbody>
        <tr>
          <td>View</td>
          <td><input type="checkbox" id="anyView" {% if page.perm['anyView'] %}checked="checked"{%endif%}></input></td>
          <td><input type="checkbox" id="userView" {% if page.perm['userView'] %}checked="checked"{%endif%}></input></td>
          <td><input type="checkbox" id="cUserView" {% if page.perm['cUserView'] %}checked="checked"{%endif%}></input></td>
          <td><input type="checkbox" id="grutorView" {% if page.perm['grutorView'] %}checked="checked"{%endif%}></input></td>
          <td><input type="checkbox" id="cGrutorView" {% if page.perm['cGrutorView'] %}checked="checked"{%endif%}></input></td>
        </tr>
        <tr>
          <td>Edit</td>
          <td>N/A</td>
          <td><input type="checkbox" id="userEdit" {% if page.perm['userEdit'] %}checked="checked"{%endif%} {% if not page.perm['userView'] %}disabled{%endif%}></input></td>
          <td><input type="checkbox" id="cUserEdit" {% if page.perm['cUserEdit'] %}checked="checked"{%endif%} {% if not page.perm['cUserView'] %}disabled{%endif%}></input></td>
          <td><input type="checkbox" id="grutorEdit" {% if page.perm['grutorEdit'] %}checked="checked"{%endif%} {% if not page.perm['grutorView'] %}disabled{%endif%}></input></td>
          <td><input type="checkbox" id="cGrutorEdit" {% if page.perm['cGrutorEdit'] %}checked="checked"{%endif%} {% if not page.perm['cGrutorView'] %}disabled{%endif%}></input></td>
        </tr>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <button id="previewBtn" type="button" class="btn btn-default">Preview</button>
    <button id="saveBtn" type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Saved</button>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <textarea id="commentarea" class="form-control" rows="24">{{page.text}}</textarea>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<!--Here is the preview -->
<hr>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>{{page.title}}</h1>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" id="preview">
    {{text|markdown}}
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function unsaved(){
  $("#saveBtn").attr('class', "btn btn-warning")
  $("#saveBtn").html("<span class='glyphicon glyphicon-floppy-save'></span> Save")
}

$("#commentarea").bind('input propertychange', function(){
  unsaved()
});

$("#title").bind('input propertychange', function(){
  unsaved()
});

$("#previewBtn").click(function(){
  values = {}
  values["text"] = $("#commentarea").val()
  $.ajax({
    url:"{{url_for('pagePreview', pgid=page.id)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(values),
    dataType: 'json',
    success: function(data) {
      $("#preview").html(data["res"]);
    }
  });
})

function saveComments(){
  values = {}
  values["text"] = $("#commentarea").val()
  values["title"] = $("#title").val()
  perm = {}
  perm.anyView = $("#anyView").prop('checked');
  perm.userView = $("#userView").prop('checked');
  perm.cUserView = $("#cUserView").prop('checked');
  perm.grutorView = $("#grutorView").prop('checked');
  perm.cGrutorView = $("#cGrutorView").prop('checked');
  perm.userEdit = $("#userEdit").prop('checked');
  perm.cUserEdit = $("#cUserEdit").prop('checked');
  perm.grutorEdit = $("#grutorEdit").prop('checked');
  perm.cGrutorEdit = $("#cGrutorEdit").prop('checked');
  values['perm'] = perm;
  $.ajax({
    url:"{{url_for('savePage', pgid=page.id)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(values),
    dataType: 'json',
    success: function(data) {
      console.log(data)
      location.reload()
    }
  });
}

$("#saveBtn").click(function(){
  saveComments();
})
</script>

<script>
$("#anyView").change(function(){
  unsaved();
});

$("#userView").change(function(){
  unsaved();
  if ($(this).prop("checked")) {
    $("#userEdit").attr("disabled", false);
  } else {
    $("#userEdit").attr("disabled", true);
    $("#userEdit").attr("checked", false);
  }
});

$("#cUserView").change(function(){
  unsaved();
  if ($(this).prop("checked")) {
    $("#cUserEdit").attr("disabled", false);
  } else {
    $("#cUserEdit").attr("disabled", true);
    $("#cUserEdit").attr("checked", false);
  }
});

$("#grutorView").change(function(){
  unsaved();
  if ($(this).prop("checked")) {
    $("#grutorEdit").attr("disabled", false);
  } else {
    $("#grutorEdit").attr("disabled", true);
    $("#grutorEdit").attr("checked", false);
  }
});

$("#cGrutorView").change(function(){
  unsaved();
  if ($(this).prop("checked")) {
    $("#cGrutorEdit").attr("disabled", false);
  } else {
    $("#cGrutorEdit").attr("disabled", true);
    $("#cGrutorEdit").attr("checked", false);
  }
});
</script>
{% endblock %}
