{% extends "base-layout.html" %}

{% block title %}
View Page
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>{{page.course.name}}/{{page.title}}{% if page.canEdit(g.user) %}<a href="{{url_for('editPage', pgid=page.id)}}" class="btn btn-default" style="float:right;">Edit</a>{% endif %}</h1>

  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" class="preview">
    {{text|markdown}}
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}
