{% extends "base-layout.html" %}

{% block title %}
Edit Course: {{course.name}}
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h1>{{course.name}}</h1>
    <a href="{{url_for('viewGradebook', cid=course.id, instr=True)}}" class="btn btn-primary"><span class="octicon octicon-book"></span> Grade Book</a>
    <a href="{{url_for('viewCourseStats', cid=course.id)}}" class="btn btn-primary"><span class="octicon octicon-graph"></span> Statistics</a>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h2 id="assignments">Assignments</h2>
    <form class="form-inline" action="{{url_for('instructorCreateAssignmentGroup', cid=course.id)}}" method="POST" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.name(placeholder="eg. Week 0", class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary" name="btn"><span class="glyphicon glyphicon-plus"></span> Add Assignment Group</button>
    </form>
    <br>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Assignment Group</th>
          <th>Problem</th>
          <th>Due Date</th>
          <th>Total Points</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for a in course.assignments[::-1] %}
        <tr assignmentName='{{a.name}}'>
          <td rowspan="{{a.problems|length + 1}}">{{a.name}}</td>
          <td><a href="{{url_for('instructorAddProblem', cid=course.id, aid=a.id)}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td class="active" colspan="2"></td>
          <td>
            <btn onclick="confirmDelete('{{a.name}}', '{{url_for("instructorDeleteAssignmentGroup", cid=course.id, aid=a.id)}}', true)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></btn>
          </td>
        </tr>
        {% for p in a.problems|sort(attribute="name") %}
        <tr assignmentName='{{a.name}}' problemName='{{a.name}}/{{p.name}}'>
          <td>{{p.name}}</td>
          <td {% if p.duedate != None %}class="time">{{p.duedate.isoformat()}}{% else %}>None Set{%endif%}</td>
          <td>{{p.totalPoints()}}</td>
          <td>
            <a href="{{url_for('instructorProblemSettings', pid=p.id)}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span></a>
            &nbsp;&nbsp;&nbsp;<btn onclick="confirmDelete('{{a.name}}/{{p.name}}', '{{url_for('instructorDeleteProblem', cid=course.id, pid=p.id, aid=a.id)}}', false)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></btn>
          </td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h2 id="settings">Settings</h2>
    <form class="form" role="form" onSubmit="return saveSettings()" id="settings">
      <div class="form-group">
        {{settingsForm.homepage.label}}
        {{settingsForm.homepage(class="form-control", value=course.homepage)}}
      </div>
      <div class="form-group">
        {{settingsForm.anonymousGrading()}}{{settingsForm.anonymousGrading.label}}
      </div>
      <div class="form-group">
        {{settingsForm.latePolicy.label}}{{settingsForm.latePolicy(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<hr/>
<div class="row" id="users">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-2">
    <h1>Students</h2>
    <form class="form-inline" action="{{url_for('instructorAddUserToCourse', cid=course.id)}}" method="POST" role="form">
      {{ suserform.hidden_tag() }}
      <div class="form-group">
        {{ suserform.uname(placeholder="eg. jdoe", class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary" value="student" name="btn"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <hr>
    <div id="studentUsers">
      <input class="search form-control" type="search" placeholder="Search"/>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="list">
          {% for s in students %}
          <tr>
          <td class="name">{{s.username}} {% if course.anonymousGrading %}({{course.getIdentifier(s.username)}}){% endif %}</td>
          <td><a href="{{url_for('instructorRemoveUserFromCourse', cid=course.id, uid=s.id, t='student')}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
          <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-2">
    <h1>Grutors</h2>
    <form class="form-inline" action="{{url_for('instructorAddUserToCourse', cid=course.id)}}" method="POST" role="form">
      {{ guserform.hidden_tag() }}
      <div class="form-group">
        {{ guserform.uname(placeholder="eg. jdoe", class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary" value="grutor" name="btn"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <hr>
    <div id="graderUsers">
      <input class="search form-control" type="search" placeholder="Search"/>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="list">
          {% for s in grutors %}
          <tr>
          <td class="name">{{s.username}}</td>
          <td><a href="{{url_for('instructorRemoveUserFromCourse', cid=course.id, uid=s.id, t='grutor')}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
          <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-2">
    <h1>Instructors</h2>
    <form class="form-inline" action="{{url_for('instructorAddUserToCourse', cid=course.id)}}" method="POST" role="form">
      {{ iuserform.hidden_tag() }}
      <div class="form-group">
        {{ iuserform.uname(placeholder="eg. jdoe", class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary" value="instructor" name="btn"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
    <hr>
    <div id="instrUsers">
      <input class="search form-control" type="search" placeholder="Search"/>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="list">
          {% for s in instrs %}
          {% if not s.isAdmin %}
          <tr>
          <td class="name">{{s.username}}</td>
          <td><a href="{{url_for('instructorRemoveUserFromCourse', cid=course.id, uid=s.id, t='instructor')}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
          <tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='list.js')}}"></script>
<script>
var grutorList = new List('graderUsers', {valueNames:['name']})
var studentList = new List('studentUsers', {valueNames:['name']})
var instrList = new List('instrUsers', {valueNames:['name']})
</script>
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.format("lll"))
})

$('#anonymousGrading').prop("checked", {{course.anonymousGrading|tojson}})

$('#latePolicy').val({{course.lateGradePolicy|tojson}});

function saveSettings(){
  values = {};
  values['anonymousGrading'] = $('#anonymousGrading').prop('checked');
  values['lateGradePolicy'] = $('#latePolicy').val()
  values['homepage'] = $('#homepage').val()
  $.ajax({
    url:"{{url_for('instructorSaveCourseSettings', cid=course.id)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(values),
    dataType: 'json',
    success: function(data) {
      console.log(data)
      if (data.res) {
        location.reload();
      }
    }
  });
  return false;
};
</script>

<script>
function confirmDelete(name, url, isAssignment){
  bootbox.dialog({
    message: "Are you sure you want to delete "+name+"?<br>Student files will be saved.<br>Grades for this will be lost.",
    title:"Confirm Delete",
    buttons: {
      confirm: {
        label:"Confirm",
        className:"btn-danger",
        callback: function(){
          $.ajax({url:url,
          success:function(){
            //location.reload();
            //TODO: Instead of reloading use jquery to remove the objects
            if (isAssignment) {
              $("[assignmentName='"+name+"']").remove();
              flash("Assignment group " + name + " removed", "success")
            } else {
              $("[problemName='"+name+"']").remove();
              flash("Problem " + name + " removed", "success")
            }
          }})
        }
      },
      close: {
        label:"No",
        className:"btn-default",
        callback: function(){
          //Nothing to do
        }
      }
    }
  })
}
</script>
{% endblock %}
