{% extends "base-layout.html" %}

{% block title %}
Gradebook
{% endblock %}

{% block styles %}
{{super()}}
<style>
th a {
  display:block;
  width:100%;
  color:black;
}
</style>
{% endblock %}

{# Yes this is ugly be we get terrible spaces without it #}
{% macro makeScore(gradeSpec) %}{% if 'finalTotalScore' in gradeSpec %}{{gradeSpec['finalTotalScore']}}({{gradeSpec['rawTotalScore']}}){% else %}{{gradeSpec['rawTotalScore']}}{% endif %}{% endmacro %}

{% macro colorCell(gradeSpec, maxScore) %}
{% if gradeSpec.setdefault('highlight', None) == "red" %}
<td class='danger'>{{makeScore(gradeSpec)}}/{{maxScore}}</td>
{% elif gradeSpec.setdefault('highlight', None) == "blue" %}
<td class='info'>{{makeScore(gradeSpec)}}/{{maxScore}}</td>
{% elif gradeSpec.setdefault('highlight', None) == "green" %}
<td class='success'>{{makeScore(gradeSpec)}}/{{maxScore}}</td>
{% elif gradeSpec.setdefault('highlight', None) == "yellow" %}
<td class='warning'>{{makeScore(gradeSpec)}}/{{maxScore}}</td>
{% else %}
<td>{{makeScore(gradeSpec)}}/{{maxScore}}</td>
{% endif %}
{% endmacro %}

{% macro createGrade(user, course, grade, index) %}
  {% with gl = gradeLists[user.username] %}
  {% if index < gl|length %}
  {% if gl[index] == None %}
  <td>0.00/{{course.maxScore}}</td>
  {% else %}
  {{colorCell(gl[index], course.maxScore)}}
  {% endif %}
  {% else %}
  {% if grade == None %}
  <td>0.00/{{course.maxScore}}</td>
  {% else %}
  <td>{{grade.totalScore()}}/{{course.maxScore}}</td>
  {% endif %}
  {% endif %}
  {% endwith %}
{% endmacro %}

{% block rows %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Gradebook Administration</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <form class="form" action="{{url_for('addGradeGroup', cid=course.id)}}" method="POST" role="form">
      {{groupForm.hidden_tag()}}
      <div class="form-group">
        {{groupForm.groupName.label}}{{groupForm.groupName(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary">Add Group</button>
    </form>
  </div>
  <div class="col-sm-4">
    <form class="form" role="form" action="{{url_for('addGradeColumn', cid=course.id)}}" method="POST">
      {{colForm.hidden_tag()}}
      <div class="form-group">
        {{colForm.group.label}}{{colForm.group(class="form-control", disabled=disableColForm)}}
      </div>
      <div class="form-group">
        {{colForm.name.label}}{{colForm.name(class="form-control", disabled=disableColForm)}}
      </div>
      <button type="submit" class="btn btn-primary">Add Column</button>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
<hr>
<!-- Begin gradebook table -->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-responsive table-hover table-bordered">
      <thead>
        <tr> <!-- This row is for the gradebook groups -->
          <th rowspan="2">Username</th>
          {% for a in course.gradeBook.groups() %}
          <th colspan="{{a.getWidth()}}">{{a.name}}</th>
          {% endfor %}
          <th rowspan="2">Total</th>
        </tr>
        <tr> <!-- This row is for the gradebook columns -->
          {% for c in course.gradeBook.columns() %}
          {% if c == None %}
          <th>None</th>
          {% else %}
          <th><a href="{{url_for('redirectGradebook', cid=course.id, col=c.id)}}">{{c.name}}</a></th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td>{{s.username}}</td>
          {% for c in course.gradeBook.columns() %}
          {% if c == None %}
          <td class="active"></td>
          {% else %}
          {% with grade = c.scores.setdefault(s.username, None) %}
          {{ createGrade(s, c, grade, loop.index0) }}
          {% endwith %}
          {% endif %}
          {% endfor %}
          <td>N/A</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
