{% extends "base-layout.html" %}

{% block title %}
Gradebook
{% endblock %}

{% block styles %}
{{super()}}
<style>
th a {
  display:block;
  width:100%;
  color:black;
}

td a {
  display:block;
  width:100%;
  color:black;
}
</style>
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Gradebook: {{course.semester}}/{{course.name}}</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Gradebook Administration</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <form class="form" action="{{url_for('addGradeGroup', cid=course.id)}}" method="POST" role="form">
      {{groupForm.hidden_tag()}}
      <div class="form-group">
        {{groupForm.groupName.label}}{{groupForm.groupName(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary">Add Group</button>
    </form>
  </div>
  <div class="col-sm-4">
    <form class="form" role="form" action="{{url_for('addGradeColumn', cid=course.id)}}" method="POST">
      {{colForm.hidden_tag()}}
      <div class="form-group">
        {{colForm.group.label}}{{colForm.group(class="form-control", disabled=disableColForm)}}
      </div>
      <div class="form-group">
        {{colForm.name.label}}{{colForm.name(class="form-control", disabled=disableColForm)}}
      </div>
      <button type="submit" class="btn btn-primary">Add Column</button>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
<hr>
<!-- Begin gradebook table -->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-responsive table-hover table-bordered" id="{{course.id}}">
      <thead>
        <tr> <!-- This row is for the gradebook groups -->
          <th rowspan="2">Username</th>
          {% for a in course.gradeBook.groups() %}
          <th colspan="{{a.getWidth()}}">{{a.name}}</th>
          {% endfor %}
          <th rowspan="2">Total</th>
        </tr>
        <tr> <!-- This row is for the gradebook columns -->
          {% for c in course.gradeBook.columns() %}
          {% if c == None %}
          <th>None</th>
          {% else %}
          <th><a href="{{url_for('redirectGradebook', cid=course.id, col=c.id, instr="true")}}">{{c.name}}</a></th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody class="list">
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='list.js')}}"></script>
<script>
$(function() {
  students = {{uids|tojson}};

  for(var i = 0; i < students.length; i++) {
    data = {'uid':students[i], 'cid':"{{course.id}}", 'links':true};
    $.ajax({
      url:"{{url_for('ajaxRenderGrade')}}",
      type:'POST',
      async:true,
      contentType:'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function(data) {
        console.log("HERE")
        $('#{{course.id}} tbody').append(data.res);
        $('#{{course.id}} tbody tr:last td:first').before("<td class='name'>"+data.username{% if course.anonymousGrading %}+" ("+ data.id+")"{%endif%}+"</td>")
      }
    });
  }
})
</script>
{% endblock %}
