{% extends "base-layout.html" %}

{% block title %}
Edit Problem
{% endblock %}


{% block styles %}
{{super()}}
<link id="bsdp-css" href="{{url_for('static', filename='eternicode-bootstrap-datepicker/css/datepicker3.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/pygments.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/css/bootstrap-timepicker.css')}}" rel="stylesheet">
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <form class="form" action="{{url_for('updateProblem', cid=course.id, aid=assignment.id, pid=problem.id)}}" method="POST" role="form">
      {{ form.hidden_tag() }}
      <div class="heading">
        <ol class="breadcrumb">
          <li><a href="{{url_for('administerCourse', id=course.id)}}">{{course.name}}</a></li>
          <li>{{assignment.name}}</li>
          <li>{{problem.name}}</li>
        </ol>
      </div>
      <div class="form-group">
        {{form.name.label}}
        {{form.name(placeholder="eg. Problem 1", class="form-control")}}
      </div>
      <div class="form-group">
        {{form.date.label}}
        {{form.date(placeholder="eg. 10/4/2014", class="form-control")}}
      </div>
      <div class="form-group">
        {{form.time.label}}
        {{form.time(placeholder="eg. 11:59 PM", class="form-control")}}
      </div>
      <div class="form-group">
        <label>
        {{form.allowPartners()}} {{form.allowPartners.label}}
        </label>
      </div>
      <div style="display:none;">
        {{form.hiddentime()}}
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3>Problem Rubric</h3>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        {% for item in problem.rubric|dictsort %}
        <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td><a href="{{url_for('delRubricSec', cid=course.id, aid=assignment.id, pid=problem.id, name=item[0])}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
        {% endfor %}
        <tr>
          <td><b>Total</b></td>
          <td>{{problem.totalPoints()}}</td>
        </tr>
        <form class="form" role="form" method="GET" action="{{url_for('addRubricSec', cid=course.id, aid=assignment.id, pid=problem.id)}}">
        <tr>
          <td><input class="form-control" name="name" type="text"></td>
          <td><input class="form-control" name="points" type="number"></td>
          <td><button type="submit" class="btn btn-primary btn-s"><span class="glyphicon glyphicon-plus"></span></button></td>
        </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3>Tests</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Test Filename</th>
          <th>Test Language</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for f in testFiles %}
        <tr>
          <td>{{f[0]}}</td>
          <td>{{f[1]}}</td>
          <td style="text-align:center"><a href="{{url_for('editTestFile', pid=problem.id, filename=f[0])}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span></a></td>
          <td style="text-align:center"><a href="{{url_for('remTestFile', pid=problem.id, filename=f[0])}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></a></td>
        </tr>
        {% endfor %}
        <form class="form" role="form" method="POST" enctype="multipart/form-data" action="{{url_for('addTestFile', pid=problem.id)}}">
        <tr>
          <td>{{testForm.hidden_tag()}}{{testForm.testFile(class="form-control")}}</input></td>
          <td>
            {{testForm.testType(class="form-control")}}
          </td>
          <td style="text-align:center"><button type="submit" class="btn btn-primary btn-s"><span class="glyphicon glyphicon-plus"></span></button></td>
          <td class="active"></td>
        </tr>
        </form>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/js/bootstrap-timepicker.js')}}"></script>
<script src="{{url_for('static', filename='moment.js')}}"></script>

<script type="text/javascript">
$(function(){
  //Fill in the form for the name of the submission if it has been named
  if ("{{problem.name}}"!="") {
    $('#name').val("{{problem.name}}")
  }

  {% if problem.duedate == None %}
  //Set default values for the submission
  var d = new Date();
  $('#time').val("11:59 PM")
  $('#date').val((d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear())
  {% else %}
  var m = new moment("{{problem.duedate.isoformat()}}" + "Z");
  $('#date').val(m.format('L'))
  $('#time').val(m.format('h:mm a'))
  {% endif %}

  //Turn the forms into a date picker and time picker
  $('#date').datepicker({format:'mm/dd/yyyy', todayHighlight:true});
  $('#time').timepicker({});
});


$('#date').change(function(){
  d = new Date($('#date').val() + " " + $('#time').val());
  $('#hiddentime').val( d.toISOString());
});

$('#time').change(function(){
  d = new Date($('#date').val() + " " + $('#time').val());
  $('#hiddentime').val( d.toISOString());
})
</script>
{% endblock %}
