{% extends "base-layout.html" %}

{% block title %}
Course Statistics
{% endblock %}

{% block styles %}
{{super()}}
<style>
  rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }
</style>
<link id="bsdp-css" href="{{url_for('static', filename='eternicode-bootstrap-datepicker/css/datepicker3.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/pygments.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/assets/bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet">
<link id="bsdp-css" href="{{url_for('static', filename='bootstrap-timepicker/css/bootstrap-timepicker.css')}}" rel="stylesheet">
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Submissions</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <b>Start Date:</b>
    <input id="subStart" name="subStart" class="form-control" type="text"></input>
  </div>
  <div class="col-sm-4">
    <b>End Date:</b>
    <input id="subEnd" name="subEnd" class="form-control" type="text"></input>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="text-align:center;">
    <div id="subChart"></div>
  </div>
  <div class="col-sm-2"></div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Tutoring Attendance</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <b>Start Date:</b>
    <input id="attendStart" name="subStart" class="form-control" type="text"></input>
  </div>
  <div class="col-sm-4">
    <b>End Date:</b>
    <input id="attendEnd" name="subEnd" class="form-control" type="text"></input>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="text-align:center;">
    <div id="attendChart"></div>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Grutor Performance</h2>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table class="table" id="graderPerformance">
      <thead>
        <tr> <!-- This row is for the gradebook groups -->
          <th rowspan="2">Username</th>
          {% for a in course.gradeBook.groups() %}
          <th colspan="{{a.getWidth()}}">{{a.name}}</th>
          {% endfor %}
        </tr>
        <tr> <!-- This row is for the gradebook columns -->
          {% for c in course.gradeBook.columns() %}
          {% if c == None %}
          <th>None</th>
          {% else %}
          <th>{{c.name}}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{url_for('static', filename='eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/assets/prettify/prettify.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-timepicker/js/bootstrap-timepicker.js')}}"></script>
<script src="{{url_for('static', filename='moment.js')}}"></script>

<script src="{{url_for('static', filename='heatmap.js')}}"></script>

<script type="text/javascript">
function setupSection(name, dataUrl) {
  //setup the things
  $("#"+name+"Start").datepicker({format:'mm/dd/yyyy', todayHighlight:true});
  $("#"+name+"Start").datepicker('setDate',moment().day(0).format('L'));
  $("#"+name+"End").datepicker({format:'mm/dd/yyyy', todayHighlight:true});
  $("#"+name+"End").datepicker('setDate', moment().day(6).format('L'));

  function updateChart(){
    dates = {}
    dates.start = new Date($("#"+name+"Start").val()).toISOString()
    dates.end = new Date($("#"+name+"End").val()).toISOString()
    $.ajax({
      url:dataUrl,
      type:'POST',
      contentType:'application/json',
      data: JSON.stringify(dates),
      dataType: 'json',
      success: function(data) {
        $("#"+name+"Chart").empty()
        if (data.error){
          $("#"+name+"Chart").text(data.error)
        } else {
          values = data.data
          values = values.map(adjustTime)
          makeChart(values, "#"+name+"Chart")
        }
      }
    })
  }
  updateChart()

  $("#"+name+"Start").change(updateChart);
  $("#"+name+"End").change(updateChart);
}
$(function() {
  setupSection("sub", "{{url_for('ajaxSubmissionStats', cid=course.id)}}")
  setupSection("attend", "{{url_for('ajaxAttendanceStats', cid=course.id)}}")
  var graders = {{uids|tojson}};

  for (var i = 0; i < graders.length; i++) {
    data = {'uid':graders[i]};
    $.ajax({
      url:"{{url_for('ajaxGraderPerformance', cid=course.id)}}",
      type:'POST',
      contentType:'application/json',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function(data) {
        console.log(data)
        $("#graderPerformance tbody").append(data.row);
      }
    })
  }
});
</script>
{% endblock %}
