{% extends "base-layout.html" %}

{% block title %}
Edit Tests
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <ol class="breadcrumb">
      <li><a href="{{url_for('instructorCourseSettings', cid=course.id)}}">{{course.name}}</a></li>
      <li>{{assignment.name}}</li>
      <li><a href="{{url_for('instructorProblemSettings', pid=problem.id)}}">{{problem.name}}</a></li>
      <li>{{filename}}</li>
    </ol>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-6">
    <table class="table" id="rubricTable">
      <thead><tr><th>Rubric Section</th><th>Allocated Points</th><th>Total Points</th>
      </thead>
      <tbody>
        {% for k, v in problem.rubric.iteritems() %}
        <tr id="{{k|replace(' ', '_')}}"><td>{{k}}</td><td>0</td><td>{{v}}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-1">
    Timeout:
    <input type="number" mytype="timeout" value="{{data.setdefault('timeout', 30)}}" class="form-control">
  </div>
  <div class="col-sm-1" style="text-align:right">
    <button class="btn btn-success" id="save"><span class='glyphicon glyphicon-saved'></span> Saved</button>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <form class="form" enctype="multipart/form-data" action="{{url_for('instructorReuploadTestFile', pid=problem.id, filename=filename)}}" method="POST">
      {{ form.hidden_tag() }}
      <div class="heading">
        <h4 class="form-heading">Reupload File</h4>
      </div>
      <div class="form-group">
        {{form.testFile.label}}
        {{form.testFile(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary">Re-upload File</button>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h4>Sections</h4>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" id="sections">
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="newSecName"></input>
  </div>
  <div class="col-sm-2">
    <button onClick="addSection()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Section</button>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>

function cleanID(id){
  var newId = id.split(' ').join('_')
  return newId
}

function updateRubric(){
  var rubricTotals = {};
  for(var i = 0; i < gradeSpec.sections.length; ++i){
    var section = gradeSpec.sections[i];
    if (cleanID(section.rubric) in rubricTotals) {
      rubricTotals[cleanID(section.rubric)] += Number(section.points);
    } else {
      rubricTotals[cleanID(section.rubric)] = Number(section.points);
    }
  }
  $("#rubricTable tbody tr").each(function() {
    var value = rubricTotals[$(this).attr('id')];
    if (value == undefined) {
      $(this).find("td:nth-child(2)").text("0");
    } else {
      $(this).find("td:nth-child(2)").text(value);
    }
  })
}

function unsaved(){
  $("button#save").removeClass("btn-success")
  $("button#save").addClass("btn-warning")
  $("button#save").html("<span class='glyphicon glyphicon-save'></span> Unsaved")
}

</script>
<script>


var gradeSpec = {{data|tojson}};
var availableTests = gradeSpec.tests;
var sections = {{problem.rubric.keys()|tojson}};

$( document ).ready(function() {
  buildPage();
});

function buildPage(){
  $("div#sections").html("")
  for(var i = 0; i < gradeSpec.sections.length; ++i){
    var sec = gradeSpec.sections[i];
    makeSectionPane(sec.name, i);
    for(var j = 0; j < sec.tests.length; ++j){
      makeTestEntry(sec.name, sec.tests[j], i, j)
    }
  }

  //We nest this in here because we have to reset the callbacks each time we
  //rebuild the page
  $("select[mytype='rubricSelector']").change(function(){
    var sec = gradeSpec.sections[$(this).attr("index")];
    sec.rubric = $(this).val();
    updateRubric()
    unsaved();
  });

  $("input[mytype='points']").change(function(){
    var sec = gradeSpec.sections[$(this).attr("index")]
    sec.points = Number($(this).val());
    updateRubric()
    unsaved();
  })
  updateRubric();
}

$("input[mytype='timeout']").change(function(){
  gradeSpec.timeout = $(this).val();
  unsaved();
});

function makeTestSelector(name, index){
  var sec = gradeSpec.sections[index];
  var sel = '<select id="'+cleanID(name)+'Test" class="form-control">';
  for(var i = 0; i < gradeSpec.tests.length; ++i){
    if (sec.tests.indexOf(gradeSpec.tests[i]) == -1){
      sel += '<option value="'+gradeSpec.tests[i]+'">'+gradeSpec.tests[i]+'</option>'
    }
  }
  sel += "</select>"
  return sel
}

function makeSectionSelector(name, index){
  var sec = gradeSpec.sections[index];
  var rubricSects = sections;
  var sel = '<select id="'+cleanID(name)+'Section" index="'+index+'" mytype="rubricSelector" class="form-control">';
  for(var i = 0; i < rubricSects.length; ++i){
    if(rubricSects[i] == sec.rubric){
      sel += '<option selected="selected"'
    } else {
      sel += '<option'
    }
    sel += ' value="'+rubricSects[i]+'">'+rubricSects[i]+'</option>';
  }
  sel += "</select>"
  return sel
}

function makeSectionPane(name, index){
  var sec = gradeSpec.sections[index];
  //Just a lot of Bootstrap HTML boilerplate
  $('div#sections').append(
'<div class="panel panel-default" id="'+name+'">\
  <div class="panel-heading clearfix">\
    <h3 class="panel-title pull-left">Section: '+ name +'</h3>\
    <button class="btn btn-danger pull-right btn-xs" onClick="removeSection('+ index +')"><span class="glyphicon glyphicon-minus"></span></button>\
  </div>\
  <div class="panel-body">\
  <div class="row">\
  <div class="col-sm-6">Points: <input type="number" index="'+index+'" mytype="points" class="form-control" value="'+sec.points+'"></input></div>\
  <div class="col-sm-6">Rubric Section: '+makeSectionSelector(name, index)+'</div>\
  </div>\
  </div>\
  <table class="table table-bordered" id="' + cleanID(name) + '">\
    <thead><tr><th>Test Name</th><th>Remove</th></thead>\
    <tbody>\
    <tr><td>'+makeTestSelector(name, index)+'</td><td><button onClick="addTest('+index+')" class="btn btn-s btn-primary"><span class="glyphicon glyphicon-plus"></span></button></td></tr>\
    </tbody>\
  </table>\
</div>')
}

function makeTestEntry(secName, testName, secIndex, testIndex){
  $('table#'+cleanID(secName)+' tbody tr:last').before('<tr id="'+testName+'"><td>'+testName+'</td><td><button onClick="removeTest('+secIndex+','+testIndex+')" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button></td></tr>')
}

function removeSection(index){
  gradeSpec.sections.splice(index,1);
  buildPage();
  unsaved();
}

function removeTest(secIndex, testIndex){
  var sec = gradeSpec.sections[secIndex];
  sec.tests.splice(testIndex, 1);
  buildPage();
  unsaved();
}

function addTest(secIndex){
  var sec = gradeSpec.sections[secIndex];
  var testName = $("select#"+cleanID(sec.name)+"Test").val();
  sec.tests.push(testName);
  buildPage();
  unsaved();
}

function addSection(){
  var name = $('input#newSecName').val()
  if(name == ""){
    alert("Section name must contain valid characters")
    return;
  }
  gradeSpec.sections.push({"name":name, points:0, rubric:sections[0], tests:[]});
  buildPage();
  unsaved();
}

$("button#save").click(function(){
  $.ajax({
    url:"{{url_for('instructorSaveTestFile', pid=problem.id, filename=filename)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(gradeSpec),
    dataType: 'json',
    success: function(data) {
      $("button#save").addClass("btn-success")
      $("button#save").removeClass("btn-warning")
      $("button#save").html("<span class='glyphicon glyphicon-saved'></span> Saved")
    }
  });
});

</script>
{% endblock %}
