{% extends "base-layout.html" %}

{% block title %}
Submission Site
{% endblock %}

{% block rows %}
{% if g.user.gradingActive() %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form class="form-inline" method="POST" action="{{url_for('grutorClockIn')}}">
      {{ciForm.hidden_tag()}}
      <div class="heading">
        <h3 class="form-heading">Clock-In</h3>
      </div>
      <div class="form-group">
        {{ciForm.course.label}}
        {{ciForm.course(class="form-control")}}
      </div>
      <div class="form-group">
        {{ciForm.location.label}}
        {{ciForm.location(class="form-control")}}
      </div>
      <div class="form-group">
        {{ciForm.other.label}}
        {{ciForm.other(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary">Clock-In</button>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
{% for sesh in grutoringCourses %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form class="form-inline" method="POST" action="{{url_for('grutorClockOut', sid=sesh.id)}}">
      {{coForm.hidden_tag()}}
      <div class="heading">
        <h4 class="form-heading">Clock-Out of {{sesh.course.name}}</h4>
      </div>
      <div class="form-group">
        {{coForm.comments.label}}
        {{coForm.comments(class="form-control", cols=80)}}
      </div>
      <button type="submit" class="btn btn-primary">Clock-Out</button>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endfor %}
<hr>
{% endif %}
{% if courses|length == 0%}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p>You are not registerd for any courses</p>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endif %}
{% for c in courses %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{c.name}}
      </div>
      {% if grutorLists[c.id]|length == 0 %}
      <div class="panel-body">
        <p>No grutors are currently active for this course</p>
      </div>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Location</th>
            <th>Active Since</th>
          </tr>
        </thead>
        <tbody>
          {% for grader in grutorLists[c.id] %}
          <tr>
            <td style="width:210px;"><img src="{{url_for('sendProfilePicture', uid=grader.grutor.id)}}" class="img-rounded" style="max-width:200px; max-height:200px; margin-left:auto; margin-right:auto; display:block;"></td>
            <td>{{grader.grutor.firstName}} {{grader.grutor.lastName}}</td>
            <td>{{grader.location}}</td>
            <td class="time">{{grader.startTime.isoformat()}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script>
$(".time").each(function(){
  var t = $(this).text();
  var d = new moment(t+"Z");
  $(this).text(d.fromNow())
})
</script>
{% endblock %}
