{% extends "base-layout.html" %}

{% block title %}
Grade book column
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h1>Gradebook Column: {{col.name}}</h1>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2">
    <form>
      <div class="form-group">
        <label for="maxPoints">Maximum Points</label>
        <input type="number" value="{{col.maxScore}}" name="maxPoints" id="maxPoints" class="form-control" {% if not instructor %}disabled{%endif%}></input>
      </div>
    </form>
    <button id="save" class="btn btn-primary" onclick="save()">Save</button>
  </div>
  <div class="col-sm-8">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-3">
    {% if instructor %}
    <button id="maxPoints" class="btn btn-primary" onclick="givePoints()">Give Max Points</button>
    {% endif %}
    <form id="scores">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for u in users %}
          <tr>
            <td>{% if instructor %}{{u.username}}{% if course.anonymousGrading %} ({{course.getIdentifier(u.username)}}){% endif %}{% else %}{% if course.anonymousGrading %} {{course.getIdentifier(u.username)}}{% else %}{{u.username}}{% endif %}{%endif%}</td>
            <td><input id="{{u.id}}" type="number" class="form-control" value="{{col.scores[u.username].totalScore()}}"></input></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
  <div class="col-sm-7">
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function save(){
  scores={};
  $("form#scores :input").each(function(){
    scores[$(this).attr('id')] = $(this).val()
  });

  data={}
  data.scores = scores;
  data.maxScore = $("#maxPoints").val()
  $.ajax({
    url:"{{url_for('saveGradeColumn', cid=course.id, col=col.id)}}",
    type:'POST',
    contentType:'application/json',
    data: JSON.stringify(data),
    dataType: 'json',
    success: function(data){
      //Nothing to do
    }
  });
}

{% if instructor %}
function givePoints(){
  var maxScore = $("#maxPoints").val();
  $("form#scores :input").each(function(){
    $(this).val(maxScore);
  });
}
{% endif %}
</script>
{% endblock %}
