{% extends "base-layout.html" %}

{% block title %}
Submission Site
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="text-align:center">
    <h1><span class="glyphicon glyphicon-search" style="font-size:128px"></h1>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" style="text-align:center">
    <h1><b>Oops! We lost that page!</b></h1>
    <p>The page you were looking for couldn't be found</p>
  </div>
  <div class="col-sm-2"></div>
</div>
{{super()}}
{% endblock %}
