{% extends "admin/base-layout.html" %}

{% block title %}
Admin Panel: Statistics
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>System Stats</h1>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">Grading Workers</div>
      <div class="panel-body">
        <ul style:"-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;">
        {% for worker, info in workers.items() %}
          <li>
            <b>{{worker}}<b><br>
            <ul>
              <li>Status: {% if info['status'] %}Online{% else %}Offline{%endif%}</li>
              <li>Running Tasks: {{info['running_tasks']}}</li>
              <li>Completed Tasks: {{info['completed_tasks']}}</li>
            </ul>
          </li>
        {% endfor %}
        <ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}
