{% extends "base-layout.html" %}

{% block title %}
Settings Panel
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2">
    <img src="{{url_for('sendProfilePicture', uid=g.user.id)}}" class="img-rounded" style="width:200px; height:auto;"></br>
  </div>
  <div class="col-sm-3">
    <form class="form" enctype="multipart/form-data" action="{{url_for('userUpdateSettings')}}" method="POST" role="form">
      <div class="heading">
          <h2 class="form-heading">User: {{g.user.username}}</h2>
      </div>
      {{ settingsForm.hidden_tag() }}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            {{ settingsForm.firstName.label }}
            {{ settingsForm.firstName(class="form-control", value=g.user.firstName)}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            {{ settingsForm.lastName.label }}
            {{ settingsForm.lastName(class="form-control", value=g.user.lastName)}}
          </div>
        </div>
      </div>
      <div class="form-group">
        {{ settingsForm.email.label }}
        {{ settingsForm.email(class="form-control", value=g.user.email)}}
      </div>
      <div class="form-group">
        {{ settingsForm.photo.label }}
        {{ settingsForm.photo(class="form-control")}}
      </div>
      <button type="submit" class="btn btn-primary" value="updateUser" name="btn">Save</button>
    </form>
  </div>
  <div class="col-sm-3">
    <form class="form" action="{{url_for('userSettings')}}" method="POST" role="form">
        {{ pwform.hidden_tag() }}
        <div class="heading">
            <h2 class="form-heading">Change Password</h2>
        </div>
        <div class="form-group {% if pwform.oldPassword.errors %} has-error {% endif %}">
            {{pwform.oldPassword.label}}
            {{ pwform.oldPassword(placeholder="Old Password", class="form-control") }}
            <p class="help-block">{{ pwform.oldPassword.errors[0] }}</p>
        </div>
        <div class="form-group {% if pwform.newPassword.errors %} has-error {% endif %}">
            {{pwform.newPassword.label}}
            {{ pwform.newPassword(placeholder="New Password", class="form-control") }}
            <p class="help-block">{{ pwform.newPassword.errors[0] }}</p>
        </div>
        <div class="form-group {% if pwform.newPasswordConf.errors %} has-error {% endif %}">
            {{pwform.newPasswordConf.label}}
            {{ pwform.newPasswordConf(placeholder="Confirm New Password", class="form-control") }}
            <p class="help-block">{{ pwform.newPasswordConf.errors[0] }}</p>
        </div>
        <button type="submit" class="btn btn-primary" value="changepasswd" name="btn">Change Password</button>
    </form>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">

    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <h3>My active Courses</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h4>Enrolled:</h4>
    <ul class="list-group">
      {% for c in g.user.courseStudent %}
        {% if c.isActive %}
        <li class="list-group-item">{{c.name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-4">
    <h4>Grutoring:</h4>
    <ul class="list-group">
      {% for c in g.user.courseGrutor %}
        {% if c.isActive %}
        <li class="list-group-item">{{c.name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-10">
    <h3>My Previous Courses</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
    <h4>Enrolled:</h4>
    <ul class="list-group">
      {% for c in g.user.courseStudent %}
        {% if not c.isActive %}
        <li class="list-group-item">{{c.name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-4">
    <h4>Grutoring:</h4>
    <ul class="list-group">
      {% for c in g.user.courseGrutor %}
        {% if not c.isActive %}
        <li class="list-group-item">{{c.name}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}
