<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <h3>Raw Files</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Problem</th>
          <th>Filename</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        {% for p in assignment.problems|sort(attribute="name") %}
          {% if p == problem %}
              {% if p.getSubmission(user, subnum).getFiles()|length != 0 %}
              <tr class="success">
                <td rowspan="{{p.getSubmission(user, subnum).getFiles()|length+1}}">{{p.name}}</td>
              </tr>
              {% for f in p.getSubmission(user, subnum).getFiles()|sort %}
              <tr>
                <td>{{f}}</td>
                <td><a href="{{url_for('downloadFiles', cid=course.id, aid=assignment.id, pid=problem.id, subnum=subnum, filename=f)}}" class="btn btn-primary btn-xs">Download</a></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr><td class="info">{{p.name}}</td><td colspan="2">No Files</td></tr>
              {% endif %}
          {% else %}
            {% if p.getLatestSubmission(user) != None %}
                {% if p.getLatestSubmission(user).getFiles()|length != 0 %}
                <tr>
                  <td rowspan="{{p.getLatestSubmission(user).getFiles()|length+1}}">{{p.name}}</td>
                </tr>
                {% for f in p.getLatestSubmission(user).getFiles()|sort %}
                <tr>
                  <td>{{f}}</td>
                  <td><a href="{{url_for('downloadFiles', pid=p.id, uid=user.id, subnum=0, filename=f)}}" class="btn btn-primary btn-xs">Download</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td>{{p.name}}</td><td colspan="2">No Files</td></tr>
                {% endif %}
                <tr>
            {% else %}
                <tr>
                  <td>{{p.name}}</td>
                  <td colspan="2">Unsubmitted</td>
                </tr>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-sm-2">
  </div>
</div>
