{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="icon" href="{{url_for('static', filename='favicon.png')}}">
{% endblock %}

{% block styles %}
{{super()}}
<style>
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
</style>

<link href="{{url_for('static', filename='octicons/octicons.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img alt="Brand" style="width:auto; height:30px;" src="{{url_for('static', filename="greaterlogo.png")}}"/>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if active_page == "index" %} class="active"{% endif %}><a href="{{url_for('index')}}">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for c in activeCourses()|sort(attribute='name') %}
            <li><a href="{{c.homepage}}">{{c.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% if g.user.is_authenticated() %}
        <li{% if active_page == "grutorList"%} class="active" {% endif %}><a href="{{url_for('viewActiveGrutors')}}">Active Grutors</a></li>
        {% if g.user.studentActive()|length > 0 %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Assignments</li>
            {% for c in g.user.studentActive()|sort(attribute='name') %}
            <li><a href="{{url_for('studentAssignments', cid=c.id)}}">{{c.name}}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{{url_for('viewGrades')}}">My Grades</a></li>
          </ul>
        </li>
        {% endif %}
        {% if g.user.gradingCourses()|length > 0%}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Grader<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for c in g.user.gradingActive()|sort(attribute='name') %}
            <li><a href="{{url_for('grutorAssignments', cid=c.id)}}">{{c.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% if g.user.instructorActive()|length > 0 %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Instructor<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for c in g.user.instructorActive()|sort(attribute='name') %}
            <li><a href="{{url_for('instructorCourseSettings', cid=c.id)}}">{{c.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.user.is_authenticated() %}
        <li><a href="{{url_for("writeComment")}}"><span class="octicon octicon-pencil"></span> Leave a Comment</a></li>
        {% endif %}
        <li><a href="https://github.com/robojeb/HMC-Grader/issues" target="_blank"><span class="octicon octicon-bug"></span> Report a Bug</a></li>
        {% if not g.user.is_authenticated() %}
        <li{% if active_page == "login" %} class="active"{% endif %}><a href="{{url_for('login')}}">Login</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{g.user.username}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if g.user.isAdmin %}
            <li><a href="{{url_for('adminIndex')}}">Admin Dashboard</a></li>
            <li class="divider"></li>
            {% endif %}
            <li{% if active_page == "userSettings" %} class="active"{% endif %}><a href="{{url_for('userSettings')}}"><span class="octicon octicon-gear"></span> Settings</a></li>
            <li><a href="{{url_for('logout')}}"><span class="octicon octicon-sign-out"></span> Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" id="flashBox">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert {% if category == "error" %}alert-danger{% elif category == "warning" %}alert-warning{% elif category == "success" %}alert-success{% else %}alert-info{% endif %}" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  {% block rows %}
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='bootbox.min.js')}}"></script>
<script src="{{url_for('static', filename='moment.js')}}"></script>
<script src="{{url_for('static', filename='customjs/flash.js')}}"></script>
{% endblock %}
