{% extends "base-layout.html" %}

{% block title %}
Submission Site
{% endblock %}

{% block rows %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Welcome to the <b>CS &gt;</b> (cee ess greater) Submission Site</h1>
    <p>This submission site is designed to be simple and elegant. Hopefully it
      have all the features we have wanted in a submission site. As a note this
      site is still a work in progress and thus may contain bugs. If you find a bug
      or a crash please go to
      <a href="https://github.com/robojeb/HMC-Grader/issues" target="_blank">this github page</a>
      and file an issue explaining what you were doing and what the bug was.
    </p>

  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}
