{% extends "base-layout.html" %}

{% block title %}
Submission Site
{% endblock %}

{% block rows %}

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Welcome to the <b>CS &gt;</b> Submission Site</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

{% if g.user.studentActive()|length > 0 or g.user.gradingActive()|length > 0%}
<hr>
<div class="row">
  <div class="col-sm-2"></div>
  {% if g.user.studentActive()|length > 0%}
  <div class="col-sm-4" style="text-align:center;">
    <h2>Students</h2>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Submit <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for c in g.user.studentActive() %}
        <li><a href="{{url_for('studentAssignments', cid=c.id)}}">{{c.name}}</a></li>
        {% endfor %}
      </ul>
    </div>

    {#<div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Clock in to Lab/Tutoring <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for c in g.user.studentActive() %}
        <li><a href="{{url_for('studentClockIn', cid=c.id)}}">{{c.name}}</a></li>
        {% endfor %}
      </ul>
    </div>#}
  </div>
  {% endif %}
  {% if g.user.gradingActive()|length > 0%}
  <div class="col-sm-4" style="text-align:center;">
    <h2>Grutors</h2>
    <a href="{{url_for('viewActiveGrutors')}}" class="btn btn-primary btn-lg">Clock In</a>
  </div>
  {% endif %}
  <div class="col-sm-2"></div>
</div>
{% endif %}
{% endblock %}
